.Sidebar {
    position: absolute;
    left: -105px;
    z-index: 4;
    height: 100vh;
    display: flex;
    align-items: center;
    //background: rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: 0.2s ease-in-out;

    .sideLinks {
        display: flex;
        flex-direction: column;
        .icon {
            font-size: 36px;
            padding: 24px;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 15px;
            margin-block: 15px;
            box-shadow: rgba(0, 0, 0, 0.70) 0px 19px 38px, rgba(0, 0, 0, 0.85) 0px 15px 12px;

            &:hover {
                background: rgba(255, 255, 255, 0.35);
                color: #000;
                transition: 0.35s;
            }
        }
    }
    .socialLinks {
        margin-top: 150px;
        display: flex;
        flex-direction: column;

        .social {
            padding: 10px;
            margin: 12px;
        }
    }
    .expandIcon {
        font-size: 48px;
        color: rgba(255, 255, 255, 0.4);
        padding-left: 25px;
        text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
        &:hover {
            color: #000;
            transition: 0.15s;
        }
    }
}
