.MobileMenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #5968b0;
    background-image: url("https://i.postimg.cc/4NbBF6Q7/arabesque-1.png");
    z-index: 4000;
    font-family: "Chicle", cursive;
    overflow: hidden;
    .close {
        position: fixed;
        color: #fff;
        right: 25px;
        top: 35px;
        font-size: 48px;
        cursor: pointer;
        animation: closeIdle 3s infinite;
        &:hover {
            animation: closeHover 2.5s infinite;
            color: #ffe347;
            transition: 0.3s;
        }
    }
    .mobileUl {
        list-style: none;
        margin-inline: auto;
        letter-spacing: 2px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        .mobileLi {
            margin-block: 10%;
            font-size: 36px;
            font-weight: bold;
            font-size: 48px;
            width: 350px;
            height: 70px;
            left: 0;
            right: 0;
            color: #fff;
            display: flex;
            flex-direction: row;
            margin-inline: auto;
            .icon {
                padding-left: 10px;
                color:#f8c291;
            }
            p {
                margin-top: 0px;
                padding-left: 45px;
                text-shadow: 4px 3px 0px rgb(0, 0, 0), 9px 8px 0px rgba(0,0,0,0.15);
            }
            .background {
                width: inherit;
                height: inherit;
                position: absolute;
                z-index: -1;
                background: #23f0c757;
                //clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
                clip-path: circle(0%);
            }
            &:hover {
                transition: 0.3s;
                color: #ffe347;
                cursor: pointer;
            }
        }
    }
}
@keyframes closeIdle {
    50% {
        transform: scale(1.1);
    }
}
@keyframes closeHover {
    50% {
        transform: rotate(-90deg);
    }
}