.Contact {
    background: #0a0f1e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Katibeh", cursive;
    background: linear-gradient(
        131deg,
        rgba(124, 62, 102, 1) 0%,
        rgba(106, 61, 105, 1) 46%,
        rgba(87, 60, 108, 1) 52%,
        rgba(56, 59, 112, 1) 59%,
        rgba(36, 58, 115, 1) 100%
    );
    &::before {
        filter: blur(2px);
    }
    .localizationGif {
        max-width: 650px;
        @media (max-width: 1700px) and (min-width: 1285px) {
            max-width: 420px;
        }
        @media (max-width: 1285px) and (min-width: 800px) {
            max-width: 420px;
        }
    }
    .container {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background: linear-gradient(
            131deg,
            rgb(97, 33, 74) 0%,
            rgb(74, 31, 77) 42%,
            rgba(45, 35, 77, 1) 56%,
            rgba(44, 35, 77, 1) 61%,
            rgba(5, 21, 64, 1) 100%
        );
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 25px;
    }
    .narrowInputs {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .info {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .infoWrapper {
            margin-block: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .infoIcon {
            font-size: 36px;
            margin: 15px;
            margin-right: 25px;
            color:#FFDAAF;
        }
        .sideInfo {
            font-size: 21px;
            margin-block: 15px;
        }
    }
    .contactHeader {
        margin: 0;
        color: #fff;
        font-size: 64px;
        display: flex;
        align-self: center;
        @media (max-width: 3000px) and (min-width: 1700px) {
            margin-top: 15px;
            width: 750px;
            margin-bottom:150px;
        }
        @media (max-width: 1700px) and (min-width: 1285px) {
            width: 455px;
            padding-top: 15px;
        }
        @media (max-width: 1285px) and (min-width: 800px) {
            width:350px;
            padding-top: 15px;
        }
    }
    .header {
        margin-top: 50px;
    }
    .mailerForm {
        margin-top: 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-inline: 15px;
        @media (max-width: 1700px) and (min-width: 1285px) {
            margin-top: 35px;
        }
        @media (max-width: 1285px) and (min-width: 800px) {
            margin-top: 35px;
        }
        label {
            color: #fff;
            margin: 10px;
            font-size: 21px;
        }
        .inputWrapper {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
        .input {
            margin: auto;
            margin-block: 20px;
            margin-top: 0px;
            background: rgba(0, 0, 0, 0.1);
            border: 3px solid #fff;
            border-radius: 10px;
            font-size: 23px;
            color: #fff;
            text-align: center;
        }
        .mailerName {
            margin-inline: 10px;
            width: 350px;
            height: 65px;
            @media (max-width: 1700px) and (min-width: 1285px) {
                margin-block: 10px;
                margin-top: 2.5px;
                width: 240px;
                height: 50px;
                font-size: 23px;
            }
            @media (max-width: 1285px) and (min-width: 800px) {
                margin-block: 10px;
                margin-top: 2.5px;
                width: 240px;
                height: 40px;
                font-size: 23px;
            }
            &::placeholder {
                font-size: 23px;
                text-align: center;
                font-family: "Katibeh", cursive;
                @media (max-width: 1700px) and (min-width: 1285px) {
                    font-size: 23px;
                }
                @media (max-width: 1285px) and (min-width: 800px) {
                    font-size: 23px;
                }
            }
        }
        .mailerSubject {
            width: 350px;
            height: 65px;
            @media (max-width: 1700px) and (min-width: 1285px) {
                margin-block: 10px;
                margin-top: 2.5px;
                width: 240px;
                height: 50px;
                font-size: 23px;
            }
            @media (max-width: 1285px) and (min-width: 800px) {
                margin-block: 10px;
                margin-top: 2.5px;
                width: 240px;
                height: 40px;
                font-size: 23px;
            }
            &::placeholder {
                font-size: 23px;
                text-align: center;
                font-family: "Katibeh", cursive;
                @media (max-width: 1700px) and (min-width: 1285px) {
                    font-size: 23px;
                }
                @media (max-width: 1285px) and (min-width: 800px) {
                    font-size: 23px;
                }
            }
        }
        .mailerMessage {
            width: 720px;
            height: 195px;
            @media (max-width: 1700px) and (min-width: 1285px) {
                margin-block: 20px;
                margin-top: 2.5px;
                width: 550px;
                height: 135px;
                font-size: 23px;
            }
            @media (max-width: 1285px) and (min-width: 800px) {
                margin-block: 20px;
                margin-top: 2.5px;
                width: 550px;
                height: 115px;
                font-size: 23px;
            }

            &::placeholder {
                font-size: 32px;
                text-align: center;
                font-family: "Katibeh", cursive;
                padding-top: 50px;
                @media (max-width: 1700px) and (min-width: 1285px) {
                    font-size: 23px;
                }
                @media (max-width: 1285px) and (min-width: 800px) {
                    font-size: 23px;
                }
            }
        }
        .mailerSubmit {
            width: 210px;
            margin: auto;
            margin-block: 55px;
            height: 95px;
            border: none;
            border-radius: 15px;
            font-size: 25px;
            background-color: #ff9ff3;
            font-weight: bold;
            @media (max-width: 1700px) and (min-width: 1285px) {
                margin-block: 35px;
                height: 65px;
            }
            @media (max-width: 1285px) and (min-width: 800px) {
                margin-block: 35px;
                height: 75px;
            }
            &:hover {
                animation: 0.4s submit infinite ease-in-out;
                transition: 7s;
            }
        }
    }
    .focused {
        box-shadow: 0 0 30px 10px #fff, 0 0 50px 20px #f0f, 0 0 70px 30px #0ff;
    }
}
@keyframes submit {
    0% {
        background: linear-gradient(
            355deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 0, 255, 1) 37%,
            rgba(0, 255, 255, 1) 100%
        );
    }
    50% {
        background: linear-gradient(355deg, rgb(241, 171, 171) 0%, rgb(101, 189, 43) 37%, rgb(46, 4, 102) 100%);
    }
    100% {
        background: linear-gradient(355deg, rgb(252, 248, 31) 0%, rgb(81, 243, 216) 37%, rgb(48, 243, 145) 100%);
    }
}
