.MobileProjects {
    width: inherit;
    min-height: 450px;
    display: flex;
    justify-content: center;
    .container {
        background: hsla(275, 100%, 75%, 1);
        background: linear-gradient(180deg, hsla(275, 100%, 75%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
        background: -moz-linear-gradient(180deg, hsla(275, 100%, 75%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
        background: -webkit-linear-gradient(180deg, hsla(275, 100%, 75%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
        min-height: 400px;
        width: 85%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: row;
        padding: 5%;
        @media (max-width: 560px) and (min-width: 0px) {
            flex-direction: column;
        }
        .expandDiv{
            width:100%;
        }
        .whatIDo {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 5px;
            border-radius: 35px;
            margin-top:50px;
            &:first-of-type{
                margin-top: 0px;
            }
            &:nth-of-type(1), &:nth-of-type(3){
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }
            @media (max-width: 560px) and (min-width: 0px) {
                flex-direction: column;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: auto;
                h1 {
                    font-family: "Merienda", cursive;
                    font-size: 30px;
                }
                p {
                    font-family: "Jost", sans-serif;
                    font-size: 18px;
                }
            }
            img {
                border-radius: 50%;
                width: 125px;
                height: 125px;
                margin: auto;
            }
            &:nth-of-type(1) {
                padding-top: 0px;
            }
            &:nth-of-type(2) {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
            &:nth-of-type(3) {
                padding-bottom: 0px;
            }
        }
    }
}