.backgroundImg{
    background: url("https://i.postimg.cc/k4DNwL0M/Untitled-12.png") no-repeat center center fixed; 
    width:100%;
    height:100%;

    background-size: 65%;
   
}

.Hero {
    display: flex;
    flex: 1;
    align-content: center;
    flex-direction: row;
    background: url("https://i.postimg.cc/3wffKj7R/bckg3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 6% 9%, 1% 19%, 6% 27%, 0% 36%, 7% 45%, 0% 52%, 8% 59%, 0% 68%, 8% 76%, 0% 84%, 7% 90%, 0% 100%, 100% 100%, 100% 0%);
    background-color: #ba6ed6;



    ul {
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
        top: -80px;

        @media (min-width:950px) and (max-width:1200px) {
            top: -20px;
            left:10px;
        }
        @media (min-width:650px) and (max-width:950px) {
            top: 20px;
            left:35px;
        }
        @media (min-width:350px) and (max-width:650px) {
            
        }

        li {
            position: absolute;
            -webkit-transition: all 2s linear;
            -moz-transition: all 2s linear;
            transition: all 2s linear;

            p {
                margin-top: -5px;
                font-size: 23px;
                --interval: 1s;
                display: block;
                text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3),
                    0 0 80px var(--color4);
                will-change: filter, color;
                filter: saturate(60%);
                animation: flicker steps(100) var(--interval) 1s infinite;
                color: #f8f8ba;
                --color1: azure;
                --color2: aqua;
                --color3: dodgerblue;
                --color4: blue;
                font-family: Sriracha;

                @media (min-width:950px) and (max-width:1200px) {
                    font-size: 20px;
                }
                @media (min-width:650px) and (max-width:950px) {
                    font-size: 16px;
                }
                @media (min-width:350px) and (max-width:650px) {
                    font-size: 12px;
                }
            }
        }
    }

    .about {
        font-size: 38px;
        margin: 0;
    }
    .skillsImages {
        position: relative;
        img {
            width: 74px;
            height: 74px;

            @media (min-width:950px) and (max-width:1200px) {
                width: 64px;
                height:64px;
            }
            @media (min-width:650px) and (max-width:950px) {
                width: 46px;
                height:46px;
            }
            @media (min-width:350px) and (max-width:650px) {
                width: 32px;
                height:32px;
            }
        }
    }
    .photoContainer {
        flex: 2;
    }
    .info {
        flex: 3;
    }
}

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}