.PopUp{
    position: absolute;
    width:100%;
    height: 100%;
    margin:auto;
    background: rgba(0,0,0,0.2);
    z-index: 3000;
    padding-top:5vh;
    background-image: linear-gradient(to right, #141e30, #243b55);
    .window{
        width:90%;
        height: 90%;
        background: green;
        margin:auto;
        text-align: center;
        border-radius:15px;
        z-index: 3001;
        background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);

        .info{
            display: flex;
            flex-direction: row;
            height:100%;
            
        }

        .descriptionImg{
            flex:1;
            object-fit: cover;
            clip-path: polygon(100% 0%, 100% 46%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            width:20%;
            border-radius: 15px;
            animation: expandme 3s infinite;
            transition: 0.7s ease-out;

            &:hover{
                clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 18% 51%, 0% 0%);
                width:80%;
                
                animation: none;
                transition: 0.7s ease-out;
            }

        }
    }

    .techstackUl{
        list-style: none;

        .techstack{
            font-size:33px;
            font-family: 'Chicle', cursive;
            font-size:54px;
            letter-spacing: 3px;
            margin-block: 14px;
        }
    }

}
.text{
    flex:4;
    h2{
        padding:25px;
        margin-top:105px;
        font-size:72px;
    }
    .description{
        font-size: 28px;
        padding-inline: 25px;
        margin-top:95px;
        margin-bottom:105px;
    }
    .gameLink{
        border-radius: 55px;
        background:#141e30;
        width:250px;
        height:70px;
        font-size:42px;
        padding:30px;
        text-decoration: none;
        color:sandybrown;
        

        &:hover{
            background-color: antiquewhite;
            transition: 1s;
        }
    }
}

@keyframes expandme {
    50%{
        width:25%;
    }
}