.Home{
    height:100vh;
    width:100vw;
    background: #ba6ed6;
    align-content: center;
    display: flex;
    .header{
        margin: 0;
    }
    
}

.main {
    width: 90vw;
    height: 90vh;
    background: #164e8b;
    margin: auto;
    //box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 3.8px;
    background:#ba6ed6;
    background-size: cover;
    display: flex;
    flex-direction: row;
    @media (max-width:650px) {
        flex-direction: column;
}
}