$headerColor: #C3FCF2;
.MobileHero {
    width: 100vw;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: url("https://i.postimg.cc/T3qDnqbx/hoiyoCut.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
    z-index: 500;
    color:$headerColor;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    .hello{
        font-family: 'Acme', sans-serif;
        margin-left:25px;
        font-size: 46px;
        margin-top:75px;
    }
    .imKamil{
        font-family: 'Acme', sans-serif;
        margin-top:5px;
        font-size: 40px;
        margin-left: 55px;
    }
}