.MobileHero {
    width: 100vw;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;

    .mobileHello {
        width: 95%;
        margin-top: 65px;
    }
    .mobileImKamil {
        width: 95%;
        margin-top: -75px;
    }
    .mobileLivingInGdansk {
        width: 95%;
        margin-top: -50px;
    }
}
