.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mySwiper{
  
}

.swiper-pagination{
 
}

.bars{
  position:fixed;
  right:65px;
  top:65px;
  z-index: 4000;
  font-size: 46px;
  display: none;

  @media (max-width: 1200px) {
    display: block;
  }
}