.MobileVersion {
    background: url("https://i.postimg.cc/Vk3xdWkW/arches.webp");
    height: 100%;
    .bars {
        font-size: 38px;
    }
}
.backgroundsContainer {
    position: absolute;
}
.bars {
    position: fixed;
    right: 25px;
    top: 35px;
    z-index: 4000;
    font-size: 46px;
    display: none;
    transform: rotate(0);
    color: inherit;
    animation: barsAnim 3s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;
    cursor: pointer;
    color: #fff;
    background-color: #363062;
    border-radius: 100%;
    padding: 15px;
    &:hover {
        animation: barsHoverAnim 1.5s infinite;
        animation-timing-function: linear;
        color: #f6e58d;
    }

    @media (max-width: 800px) {
        display: block;
    }
}
@keyframes barsHoverAnim {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes barsAnim {
    0%,
    100% {
        transform: translate3d(0, -8px, 0);
    }
    50% {
        transform: translate3d(0, -3px, 0);
    }
}