.Main {
    width: 90vw;
    height: 90vh;
    background: #164e8b;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 3.8px;
    //background: url("https://i.postimg.cc/2yB0nrLT/pexels-nicole-avagliano-2312040-1.jpg");
    background:#ba6ed6;
    background-size: cover;
}
