.Projects {
    height: 100vh;
    width: 100vw;
    //background: url("https://i.postimg.cc/Hs6NdG6j/wbnn4jk6p9j31.jpg");
    background: url("https://i.postimg.cc/nzyJ8Bgr/1511370.webp");
    background-size: cover;
    background-repeat: no-repeat;
    h3 {
        margin: 0;
        padding-block: 50px;
    }
    .replay {
        font-size: 86px;
        position: absolute;
        color: #000;
        opacity: 0.5;
        animation: rotate 11s infinite ease-in-out;
        cursor: pointer;

        &:hover {
            animation: rotate 0.5s infinite ease-in-out;
        }
    }
    .minimizedWindows {
        position: fixed;
        display: flex;
        left: 0px;
        bottom: 0px;
        list-style: none;
        align-content: flex-end;
        padding: 0;
        margin: 0;
        .minimizedWindow {
            width: 65px;
            height: 65px;
            //background: rgba(255, 255, 255, 0.125);
            border-radius: 10px;
            //box-shadow: rgb(255, 255, 255) 0px 0px 15px 0px inset;
            margin-inline: 5px;
            &:nth-of-type(2) {
                margin-left: 50px;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.151);
                transition: 1.15s;
            }

            img {
                width: 45px;
                height: 45px;
                top: 0;
                bottom: 0;
                margin-top: 10px;
                z-index: 55px;
            }
        }
    }
    .interactivePortfolio {
        img {
            width: 450px;
            border-radius: 15px;
            height: 95px;
            object-fit: cover;
            object-position: bottom;
        }
    }
    .projectsList {
        padding: 100px;
        width: 90%;
        margin-left: 5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .window {
            width: 1050px;
            height: 850px;
            margin: 25px;
            position: absolute;
            transform: scale(0.6);
            .topBar {
                margin-left: -2px;
                margin-top: -1px;
                width: 1050px;
                height: 45px;
                background: linear-gradient(
                    0deg,
                    rgba(0, 84, 227, 1) 16%,
                    rgba(0, 88, 230, 1) 29%,
                    rgba(3, 101, 241, 1) 45%,
                    rgba(17, 116, 246, 1) 63%,
                    rgba(43, 144, 255, 1) 81%,
                    rgba(63, 151, 255, 1) 94%
                );
                z-index: 15;
                border-radius: 6.5px;
                border: 1px solid #0043cf;
                border-bottom: 2px solid #000;
                display: flex;
                flex-direction: row-reverse;
                .title {
                    text-align: left;
                    padding-left: 3%;
                    position: fixed;
                    left: 17px;
                    top: -12px;
                    height: 45px;
                    p {
                        color: #fff;
                        font-family: Tahoma, sans-serif;
                        font-weight: 600;
                        font-size: 24px;
                        cursor: default;
                        letter-spacing: 2px;
                    }
                }
                .Btn {
                    margin-top: 2px;
                    width: 38px;
                    height: 38px;
                    background-color: rebeccapurple;
                    margin-inline: 3px;
                    border-radius: 7px;
                    &:nth-of-type(1) {
                        margin-right: 20px;
                    }
                    &:hover {
                        opacity: 0.15;
                        transition: 0.4s;
                    }
                }
                .closeBtn {
                    background-color: #d8370e;
                    border: 1px solid #fff;
                    background: url("https://i.postimg.cc/rpX1yFnB/close.png");
                    background-position: center;
                }
                .maxBtn {
                    background: url("https://i.postimg.cc/3R32pfH9/maxim.png");
                    border: 1px solid #fff;
                    background-position: center;
                }
                .minBtn {
                    background: url("https://i.postimg.cc/Hxm9zsbw/Sprite-0002.png");
                    background-position: center;
                    border: 1px solid #fff;
                }
            }
            .frame {
                height: inherit;
                width: inherit;
                clip-path: polygon(
                    0% 0%,
                    0% 100%,
                    3% 99%,
                    3% 14%,
                    98% 14%,
                    98% 98%,
                    1% 98%,
                    0 100%,
                    100% 100%,
                    100% 0%
                );
                clip-path: polygon(0% 0%, 0% 100%, 1% 99%, 1% 7%, 99% 7%, 99% 98%, 0 98%, 0 100%, 100% 100%, 100% 0%);
                background-color: #ece9d8;
                border: 2px solid #000;
                border-radius: 7.5px;
            }

            img {
                margin-top: -797px;
                margin-bottom: 35px;
                border-radius: 10.5px;
                width: 1048px;
                height: 787px;
                object-fit: cover;
                border: 2px solid #000;
            }
        }
    }
    .iproject {
        width: 90%;
        height: 90%;
        border: none;
        margin-top: 5vh;
        border-radius: 10px;
    }
    .tasksBar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 65px;
        //background-color: rgba(85, 117, 156, 0.3);
        background-color: rgba(9, 12, 17, 0.53);
    }
}
.hidden {
    display: none;
}
@keyframes rotate {
    100% {
        transform: rotate(340deg);
    }
}