.Projects {
    height: 100vh;
    width: 100vw;
    //background: url("https://i.postimg.cc/Hs6NdG6j/wbnn4jk6p9j31.jpg");
    //background: url("https://i.postimg.cc/nzyJ8Bgr/1511370.webp");
    background-size: cover;
    background-repeat: no-repeat;
    h3 {
        margin: 0;
        padding-block: 50px;
    }
    .replay {
        margin-top: 25px;
        font-size: 56px;
        position: absolute;
        color: #fff;
        opacity:0.6;
        animation: rotate 11s infinite ease-in-out;
        cursor: pointer;
        &:hover {
            animation: rotate 0.5s infinite ease-in-out;
        }
    }
    .minimizedWindows {
        position: fixed;
        display: flex;
        left: 0px;
        bottom: 0px;
        list-style: none;
        padding: 0;
        margin: 0;
        width: inherit;
        justify-content: center;
        .minimizedWindow {
            width: 65px;
            height: 65px;
            //background: rgba(255, 255, 255, 0.125);
            border-radius: 10px;
            //box-shadow: rgb(255, 255, 255) 0px 0px 15px 0px inset;
            margin: auto;
            margin-inline: 15px;
            &:hover {
                background: rgba(255, 255, 255, 0.151);
                transition: 1.15s;
            }

            img{
                width: 45px;
                height: 45px;
                top: 0;
                bottom: 0;
                margin-top: 10px;
                z-index: 55px;
            }
        }
    }
    .interactivePortfolio {
        img {
            width: 450px;
            border-radius: 15px;
            height: 95px;
            object-fit: cover;
            object-position: bottom;
        }
    }
    .projectsList {
        padding: 100px;
        width: 95%;
        margin-left: 5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .window {
            width: 420px;
            height: 340px;
            margin: 25px;
            .topBar {
                margin-left: -2px;
                margin-top: -1px;
                width: inherit;
                height: inherit;
                border-radius: 6.5px;
                display: flex;
                flex-direction: row-reverse;
                z-index: 2500;
                .title {
                    text-align: left;
                    padding-left: 3%;
                    position: fixed;
                    left: 17px;
                    top: -12px;
                    height: 45px;
                    p {
                        color: #fff;
                        font-family: Tahoma, sans-serif;
                        font-weight: 600;
                        font-size: 24px;
                        cursor: default;
                        letter-spacing: 2px;
                    }
                }
                .Btn {
                    margin-top: 8px;
                    padding:10px;
                    width: 19px;
                    height: 19px;
                    background-color: rebeccapurple;
                    margin-inline: 3px;
                    border-radius: 75px;
                    border: 1px solid rgb(48, 41, 41);
                    background-position: center;
                    .mirror{
                        width: inherit;
                        height: inherit;
                        z-index: 6000;
                        background: rgba(0,0,0,0.9);
                    }
                    path{
                        z-index: 0;
                    }
                    &:nth-of-type(1) {
                        margin-right: 20px;
                    }
                    &:hover {
                        filter: hue-rotate(120deg);
                        transition: 0.5s;
                        cursor: pointer;
                    }
                .icon{
                    width: inherit;
                    height: inherit;
                    color:#fff;
                }
                }
                .closeBtn {
                    background-color: #d8370e;
                }
                .maxBtn {
                    background-color: #706fd3;
                }
                .minBtn {
                    background-color: #34ace0;
                }
            }
            .frame {
                height: inherit;
                width: inherit;
                background-color: #2c2c54;
                border: 2px solid #000;
                border-radius: 7.5px;
            }

            img, iframe {
                margin-top: -797px;
                margin-bottom: 35px;
                border-radius: 10.5px;
                width: inherit;
                height: inherit;
                object-fit: cover;
                border: 2px solid #000;
            }
        }
    }
    .iproject {
        width: 90%;
        height: 90%;
        border: none;
        margin-top: 5vh;
        border-radius: 10px;
    }
    .tasksBar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 65px;
        //background-color: rgba(85, 117, 156, 0.3);
        background-color: rgba(9, 12, 17, 0.53);
    }
}
.hidden {
    display: none;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}